<a href="https://colab.research.google.com/github/divya-revathi/Innomatics_Internship_APR_21/blob/main/Task_2(Python_Programming).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ques-1 Four integers x,y and z, n each on a separate line. Print the list in lexicographic increasing order
x = int(input())
y = int(input())
z = int(input())
n = int(input())
perm=[]
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
             if i+j+k != n:
                perm.append([i,j,k])

print(perm)

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [ ]:
#Ques-2 You are given n scores. Store them in a list and find the score of the runner-up.

if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    arr=list(arr)
    mx=arr[0]
    smx=arr[0]
    for i in arr:
        if(i>mx):
            mx=i
        if(i<smx):
            smx=i
   
mx2=smx
for i in arr:
    if(i>mx2 and i<mx):
        mx2=i
            
print(mx2)

3
1 2 3
2

In [ ]:
#Ques-3 Given the names and grades for each student in a class of N students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

n=int(input())
records=[]
for i in range(0,n):
    records.append([input(),float(input())])
records=sorted(records, key=lambda i:i[1])
for i in range(1,n):
    if(records[i][1]!=records[i-1][1]):
        score=records[i][1]
        break
records=sorted(records)
for i in range(n):
    if(records[i][1]==score):
        print(records[i][0])

4
adam
10
beny
20
cherry
10
sunny
40
beny

In [ ]:
#Ques-4 Print the average of the marks array for the student name provided, showing 2 places after the decimal.

student_records={}

for i in range(int(input())):
    student_name,sub1,sub2,sub3=input().split()
    student_records[student_name]=[float(sub1),float(sub2),float(sub3)]
query_name=input()
l=sum(student_records[query_name])
percentge=float(l/3)
print("%.2f" %percentge)

2
adam 2 3 4
ban 1 2 3
ban
2.00

In [ ]:
#Ques-5 Perform list commands

mylist = []
N = int(input())
for i in range(N):
    command = input().split()
    if command[0]=="sort":
        mylist.sort()
    elif command[0]=="print":
        print(mylist)
    elif command[0]=="reverse":
        mylist.reverse()
    elif command[0]=="pop":
        mylist.pop()
    elif command[0]=="insert":
        mylist.insert(int(command[1]),int(command[2]))
    elif command[0]=="append":
        mylist.append(int(command[1]))
    elif command[0]=="remove":
        mylist.remove(int(command[1]))

7
insert 0 2
insert 1 3
insert 1 4
insert 0 5
pop
reverse
print
[4, 2, 5]

In [ ]:
#Ques-6 Print the result of hash(tuple).

N = int(input())
print(hash(tuple(int(x) for x in input().split())))

1
1 2
3713081631934410656

In [ ]:
#Ques-7 Set introduction

def average(array):
    # your code goes here
    setarray=set(array)
    res=sum(setarray)/len(setarray)
    return res

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
1 2 3 3 3 4 5 6 7 8
4.5

In [ ]:
#Ques-8 Happiness problem, 

n, m = map(int,input().split())
arr = map(int,input().split())
a = set(map(int,input().split()))
b = set(map(int,input().split()))

happiness = 0

for i in arr:
    if i in a:
        happiness += 1
        
    elif i in b:
        happiness -= 1
        
print(happiness)

3 2
1 3 5
1 3
5 7
1

In [ ]:
#Ques-9 Computing Symmetric Difference

M=int(input())
setA=set(map(int,input().split()))
N=int(input())
setB=set(map(int,input().split()))
newset=(setA.difference(setB)).union(setB.difference(setA))
mylist=sorted(list(newset))
for x in mylist:
    print(x)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

In [ ]:
#Ques-10 Sets .add()

n=int(input())
stampset=set()
for i in range(n):
    stampset.add(input())
print(len(stampset))

7
Uk
Canada
UK
UK
UK
USA
Canada
4

In [ ]:
#Ques-11 Set .discard(), .remove() & .pop()

n = int(input())
s = set(map(int, input().split()))
N=int(input())
for i in range(N):
    command = input().split()
    if command[0]=="pop":
        s.pop()
    elif command[0]=="discard":
        s.discard(int(command[1]))
    elif command[0]=="remove":
        s.remove(int(command[1]))
        
print(sum(s))

6
1 2 3 4 5 6
3
pop
remove 6
pop
12

In [ ]:
#Ques-12 Union operator

i = int(input())
engset = set(map(int, input().split()))
j=int(input())
frenchset=set(map(int, input().split()))    
subscribeset=engset.union(frenchset)
print(len(subscribeset))

3
1 2 3
4
2 3 5 6
5

In [ ]:
#Ques-13 Intersection operator

i = int(input())
engset = set(map(int, input().split()))
j=int(input())
frenchset=set(map(int, input().split()))    
subscribeset=engset.intersection(frenchset)
print(len(subscribeset))

3
1 2 3
4
2 3 5 6
2

In [ ]:
#Ques-14 Difference operator

i = int(input())
engset = set(map(int, input().split()))
j=int(input())
frenchset=set(map(int, input().split()))    
subscribeset=engset.difference(frenchset)
print(len(subscribeset))

3
1 2 3
4
2 3 5 6
1

In [ ]:
#Ques-15 Symmetric Difference Operator

i = int(input())
engset = set(map(int, input().split()))
j=int(input())
frenchset=set(map(int, input().split()))    
subscribeset=engset.symmetric_difference(frenchset)
print(len(subscribeset))

3
1 2 3
4
2 3 4 5
3

In [ ]:
#Ques-16 Set Mutations

a = int(input())
aset = set(map(int, input().split(' ')))
for i in range(int(input())):
    command, b = input().split(' ')
    if command == 'intersection_update':
        aset &= set(map(int, input().split(' ')))
    elif command == 'update':
        aset |= set(map(int, input().split(' ')))
    elif command == 'symmetric_difference_update':
        aset ^= set(map(int, input().split(' ')))
    else:
        aset -= set(map(int, input().split(' ')))
print(sum(aset))

16
1 2 3 4 5 6 7 8 9 1 1 2 3 4 5 6
2
update 2
55 66
intersection_update 2
2 3
5

In [ ]:
#Ques-17  Captains Room

k = int(input())
rooms = (int(x) for x in input().split(' '))
seen = {}

for i in rooms:
    if not i in seen:
        seen[i] = 1
    else:
        seen[i] += 1

for key, val in seen.items():
    if val != k:
        print(key)

In [5]:
#Ques-18  check subset

for testcase in range(int(input())): 
    n = int(input()); setA = set(input().split()); 
    m = int(input()); setB = set(input().split());
    print(setA.issubset(setB))

3
3
1 2 4
1
4
False
2
1 2
3
1 2 3
True
3
1 5 2
1
1
False

In [6]:
#Ques-19 check superset

setA=set(map(int,input().split()))
flag=False
for i in range(int(input())):
    setn=set(map(int,input().split()))
    if(setA.issuperset(setn)):
        flag = True
    else: flag = False
    
print(flag)

1 2 3 4 5 6
2
8 9 0
1 2 8 9
False